<template>
<div>
    <h1>Bienvenido.</h1>
    <table>
        <thead>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Contraseña</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Jaime Alejandro</td>
                <td>Castañeda Dzul</td>
                <td>jaimecastaneda133@gmail.com</td>
                <td>********</td>
                <td>
                    <a href="#">Editar</a>
                    <a href="#">Eliminar</a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Osmar</td>
                <td>Casillas Gallardo</td>
                <td>osamarcasillas65@gmail.com</td>
                <td>********</td>
                <td>
                    <a href="#">Editar</a>
                    <a href="#">Eliminar</a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Javier Alexander</td>
                <td>Can Tun</td>
                <td>javieralexander@gmail.com</td>
                <td>********</td>
                <td>
                    <a href="#">Editar</a>
                    <a href="#">Eliminar</a>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Jaime Mauricio</td>
                <td>Hernandez Gonzalez</td>
                <td>jaimemau@gmail.com</td>
                <td>********</td>
                <td>
                    <a href="#">Editar</a>
                    <a href="#">Eliminar</a>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>Edgar Jair</td>
                <td>Badillo Bañuelos</td>
                <td>Ejair21@gmail.com</td>
                <td>********</td>
                <td>
                    <a href="#">Editar</a>
                    <a href="#">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>
</template>
<script lang="ts" setup>

</script>

<style scoped>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #ccc;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #000;
    }
</style>