<template>
<div>
    <form class="form" @submit.prevent="enviar()">
    <p class="title">Registro </p>
    <p class="message">Registrate para usar la app. </p>
        <div class="flex">
        <label>
            <input required type="text" class="input" v-model="nombre">
            <span>Nombre (s)</span>
        </label>

        <label>
            <input required type="text" class="input" v-model="apellido">
            <span>Apellido (s)</span>
        </label>
    </div>  
            
    <label>
        <input required type="email" class="input" v-model="correo">
        <span>Correo Electronico </span>
    </label> 
        
    <label>
        <input required type="password" class="input" v-model="contra">
        <span>Contraseña</span>
    </label>
    <button class="submit">Registrarse</button>
    <p class="signin">¿Ya tienes una cuenta? <a href="/isesion">Iniciar sesión</a> </p>
</form>
</div>
</template>
<script lang="ts" setup>
import { ref } from 'vue';

const nombre = ref('');
const apellido = ref('');
const correo = ref(''); 
const contra = ref('');
const correosRegistrados = ref<string[]>([]);

const enviar = () => {
    const existeCorreo = correosRegistrados.value.find(c => c === correo.value);
    if (!existeCorreo) {
    correosRegistrados.value.push(correo.value);
    nombre.value = '';
    apellido.value = '';
    correo.value = '';
    contra.value = '';
    }else{
        alert('Este correo ya esta registrado')
    }
}
</script>

<style scoped>
    .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    margin-left: 150px;
    }

    .title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    }

    .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
    }

    .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
    }

    .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
    }

    .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
    }

    .signin {
    text-align: center;
    }

    .signin a {
    color: royalblue;
    }

    .signin a:hover {
    text-decoration: underline royalblue;
    background: none;
    }

    .flex {
    display: flex;
    width: 100%;
    gap: 6px;
    }

    .form label {
    position: relative;
    }

    .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    }

    .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
    }

    .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
    }

    .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
    }

    .form label .input:valid + span {
    color: green;
    }

    .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    }

    .submit:hover {
    background-color: rgb(56, 90, 194);
    }

    @keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}
</style>