<template>
<div>
    <div class="formulario">
        <h1>Inicio de sesión </h1>
        <form @submit.prevent="validacion()">
            <div class="correo">
                <input type="email" v-model="email">
                <label>Correo</label>
            </div>
            <div class="password">
                <input type="password" v-model="contra">
                <label>Contraseña</label>
            </div>
            <button :disabled="!(email.length > 0 && contra.length>0)" type="submit">Iniciar sesión</button>
            <div class="registro">
                Quiero hacer el <a href="/registro">Registro</a>
            </div>
        </form>
    </div>
</div>
</template>

<script lang="ts" setup>
import { ref } from 'vue';
const email = ref('')
const contra = ref ('')
const emailDef = 'jaimecastaneda133@gmail.com'
const contraDef = 'Jaime1702'

const validacion = () =>{
    if(email.value === emailDef && contra.value === contraDef){
        window.location.href = '/hola'
    }else{
        alert('Por favor, revisa los campos.')
        window.location.reload()
    }
}
</script>

<style scoped>
    body{
        margin: 0;
        padding: 0;
        height: 100vh;
    }
    .formulario{
        position: absolute;
        left: 60%;
        width: 400px;
        background: white;
        border-radius: 10px;
        top: 20%;
    }
    .formulario h1{
        text-align: center;
        padding: 15px 0 20px 0;
        border-bottom: 1px solid silver;
        color: black;
    }
    .formulario form{
        padding: 0 40px;
        box-sizing: border-box;
    }
    form .correo{
        position: relative;
        border-bottom: 2px solid silver;
        margin: 30px 0;
    }
    .correo input{
        width: 100%;
        padding: 0 5px;
        height: 40px;
        font-size: 16px;
        border: none;
        background: none;
        outline: none;
    }
    .correo label{
        position: absolute;
        top: 50%;
        left: 5px;
        color: black;
        transform: translateY(-50%);
        pointer-events: none;
        transition: .5s;
    }

    .correo span::before{
        content: '';
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        height: 2px;
    }
    .correo input:focus~label,
    .correo input:focus~label{
        top: -5px;
    }
    .correo input:focus~label,
    .correo input:focus~label{
        width: 100%;
    }
    form .password{
        position: relative;
        border-bottom: 2px solid silver;
        margin: 30px 0;
    }
    .password input{
        width: 100%;
        padding: 0 5px;
        height: 40px;
        font-size: 16px;
        border: none;
        background: none;
        outline: none;
    }
    .password label{
        position: absolute;
        top: 50%;
        left: 5px;
        color: black;
        transform: translateY(-50%);
        pointer-events: none;
        transition: .5s;
    }

    .password span::before{
        content: '';
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        height: 2px;

    }
    .password input:focus~label,
    .password input:focus~label{
        top: -5px;
    }
    button{
        width: 100%;
        height: 50px;
        border: 1px solid;
        background:#1919e6;
        border-radius: 25px;
        font-size: 18px;
        color: white;
        cursor: pointer;
        outline: none;
    }
    button:hover{
        border-color: black;
        background-color: black;
        transition: .5s;
    }
    .registro{
        margin: 30px 0;
        text-align: center;
        font-size: 16px;
        color: black
    }
    .registro a{
        color: blue;
        text-decoration: none;
    }
    .registro a:hover{
        background: none;
        text-decoration: underline;
    }
</style>